#Intellij IDE Settings
.idea/

#Compiled bytecode
__pycache__/

#Datalight config file
/datalight.ini
/datalight/ui/ui_descriptions/author_details.yaml

#Python virtual environment
venv/

#Log files
*.log
*.zip

#Pip install
datalight.egg-info/
.eggs/
docs/html
/pylintrc

/build
/dist
