#Intellij IDE Settings
.idea/

#Compiled bytecode
__pycache__/

#Datalight config file
datalight.config

#Python virtual environment
venv/

#Log files
*.log
*.zip

#Pip install
datalight.egg-info/
.eggs/
docs/html
/pylintrc
/datalight/metadata_summary.txt
