@import "../_static/default.css";

div.align-left.figure{
float: left;
width:45%;
border:2px solid #888;
margin-left:2%;
margin-right:2%;
margin-top:2%;
margin-bottom:2%;
padding:2px;
clear:right;
text-align:justify;
}


div.align-center.figure{
float: center;
width:45%;
border:2px solid #888;
padding:2px;
margin-left:30%;
margin-right:2%;
margin-top:2%;
margin-bottom:2%;
clear:right;
text-align: justify;
}

div.align-right.figure{
float: right;
width:45%;
border:2px solid #888;
padding:2px;
margin-left:2%;
margin-right:2%;
margin-top:2%;
margin-bottom:2%;
clear:right;
text-align: justify;
}

div.figure{
/*float:center;
 * table-layout:auto;*/
padding-left:5%;
width:90%;
border:2px solid #888;
padding:2px;
margin-left:1%;
margin-right:1%;
margin-top:1%;
margin-bottom:1%;
clear:both;
/*text-align: justify;*/
padding:2px;
}


/* surround the classes, functions and exceptions with boxes*/
dl.class, dl.function, dl.exception{
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    border-left: 2px solid #888;
    border-right: 2px solid #888;
}


dl.method, dl.attribute {
    border-top: 1px solid #aaa;
}

img.inheritance {
    border: 1px solid blue;
    max-width:90%;
    align:center;
}

div.math img{
text-align:center;
}

th.head{
background-color:#FFFFCC;
}
tr.body{
background-color:#FFD;
}

